.main {
  padding-left: 240px;

  .waves-circle-auto-size {
    width: auto;
    height: auto;
    padding: 5px;
    line-height: normal;
  }

  .cart-button-icon {
    padding: 0 0 0 15px;
  }

  .card-reveal {
    .description-container {
      max-height: 75%;
      overflow-y: scroll;
    }

    .price-container {
      width: 90%;
      position: fixed;
      bottom: 0;
      left: 5%;
    }
  }
}

li.logo {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 80px;

  a {
    margin-left: 20px;

    img {
      height: 40px;
    }
  }
}

@media screen and (max-width: 992px) {
  .main {
    padding-left: 0;
  }

  li.logo {
    a {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .collection {
    .collection-item.avatar {
      padding-left: 20px;
    }
  }
}
